.bloque_titulo{
    font-family:fantasy;
}
.lista_fundas{
  text-align: center;
  font-family: fantasy;
  color: rgb(216, 171, 216);
  display: inline-block;
  list-style-position:inside;
  margin: 1%;
}
.enlaces_fotos{
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.lista_marcas{
    color:rgb(216, 171, 216);
    font-family: fantasy;
    display: inline-block;
    text-align: center;
}
.italica_titulo{
    font-style: italic;
    text-align: center;
    margin-left: 20%;
    border-width: 5px;
    background-image: linear-gradient(to left, #ee9ca7, #ffdde1);
}
.lista_accesorios{
    text-align: center;
    margin-left: 20%;
    color:rgb(58, 35, 58);
    display: inline-flex;
}
.preguntas_frecuentes{
    color: rgb(173, 110, 173);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 2px solid rgb(243, 204, 132);
    padding: 20px;
    width: 50%;
    background-color: rgb(241, 221, 233);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40%;
}
.nuestras_redes{
    color: salmon;
    font-family: fantasy;
    margin-bottom: 50px;
    margin-top: 50px;
}

$ancho: 720px;
$azul: #f7c5e6;
$violeta:#d36895;

.preguntas_frecuentes{
background-color: $azul;
width: $ancho/2;
}

@for $i from 1 through 3 {
.preguntas_frecuentes-#{$i}{ width: 2em * $i; }  
}

$nuestras_redes:(
    mail: #e09de2,
    instagram: #3a5795
    );

@each $red, $color in $nuestras_redes {
.btn--#{$red} {
    background-color: $color;
  }   
}



strong{
    color: rgb(216, 171, 216);
    font-family:monospace;
    text-align-last: center;
 }
 
 h2{
     color: rgb(177, 153, 153);
     text-align: center;
     font-family:monospace;
 }
 h3{
     color: rgb(240, 191, 145);
     text-align: center;
 
 }
 ul{
     list-style-type:inherit;
 }
 body{
     font-family: 'Style Script', cursiva;
     font-family: 'WindSong', cursiva;
     background-color: palevioletred;
     text-align: center;
 }
 p{
     color: rgb(173, 110, 173);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
     border: 2px solid rgb(243, 204, 132);
     padding: 20px;
     width: 50%;
     background-color: rgb(241, 221, 233);
     margin-top: 30px;
     margin-bottom: 30px;
 }
 .italica{
     font-style: italic;
     text-align: center;
     margin-left: 20%;
     border-width: 5px;
     background-image: linear-gradient(to left, #ee9ca7, #ffdde1);
 }
 th{
     color: mediumorchid;
 }
 table{
     text-align: center;
     margin-left: 17%;
     margin-bottom: 5%;
     margin-top: 5%;
 }
header{
    text-align: center;
}
.carousel-item active{
    margin-left: 350px;
}
.carousel-item{
    margin-left: 350px;
}
.menu{
    overflow: hidden;
    background-color:rgb(216, 171, 216);
}
.menu a{
    float: left;
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
